<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  	<env name="GAZEBO_RESOURCE_PATH" value="$(find r2d2_gazebo)/"/>
    <arg name="world_name" value="$(find r2d2_gazebo)/worlds/r2d2.world"/>
  </include>
	<node name="r2d2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-file $(find r2d2_description)/urdf/r2d2.urdf -urdf -x 0 -y 0 -z 0 -model r2d2"/>
</launch>
